<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="connectionString" connectionString="mongodb+srv://mzsmunna:mzstheatlasadmin@cluster0-wnfd2.azure.mongodb.net/test?retryWrites=true" />
  </connectionStrings>
  <appSettings>
    <add key="connectionString" value="mongodb+srv://mzsmunna:mzstheatlasadmin@cluster0-wnfd2.azure.mongodb.net/test?retryWrites=true" />
    <add key="DatabaseName" value="Moniruzzaman" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!--Local Email Template Location-->
    <!--<add key="SyncReportEmailTemplatePath" value="C:\Users\mzsmu\Desktop\Insight Resource\Insight Resource\Resource.MailchimpService\Email_Template\Data_Sync_Report.txt"/>-->
    <add key="emailTo" value="mzs.munna@gmail.com"/>
    <add key="emailCC" value="yellow.engineering.bd@gmail.com,moni.sarker@orelcorp.com"/>
    <add key="emailFromName" value="Mzs Technology"/>
    <add key="InvoiceChallanNo" value="0001"/>
    <add key="InvoiceChallanCode" value="20DK01,"/>
    <add key="ExecuteOnce" value="true"/>
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="smtp.office365.com" port="587" userName="mzs.munna@gmail.com" password="" defaultCredentials="false" enableSsl="true"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>